{% extends "base.html" %}


{% block title %}首页{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
        <div class="col-md-4"><h3 class="form-signin-heading">KBQA</h3></div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-4"><span id=result>&nbsp;</span></div>-->
        <!--</div>-->
        <!--<nav class="navbar navbar-default">-->
            <!--<div class="container-fluid">-->

                <!--<div class="navbar-header">-->
                    <!--<a class="navbar-brand" href="#">-->
                        <!--搜索相关性-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div id="navbar">-->
                    <!--<form class="navbar-form navbar-left">-->

                        <!--<div class="form-group">-->
                            <!--<input type="text" placeholder="Email" class="form-control" autofocus="autofocus">-->
                        <!--</div>-->

                        <!--<button type="submit" class="btn btn-success">-->
                            <!--<span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>-->
                        <!--</button>-->
                        <!--<button type="submit" class="btn btn-default">Query</button>-->
                        <!--<button type="submit" class="btn btn-default">Title</button>-->
                    <!--</form>-->
                <!--</div>-->
              <!--</div>-->
        <!--</nav>-->

        <form class="row">
            <div class="form-group col-md-4">
                <input id="question-input" class="form-control" placeholder="问题" required autofocus name=input-box>
                <!--<input type="text" placeholder="Search" class="form-control" autofocus="autofocus" required name=input-box>-->
            </div>

            <button type="button" class="btn btn-success">
                <span id="get-mention" class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <span>&nbsp;</span>

            <div class="btn-group" role="group" aria-label="...">
                <button id="query-query" type="button" class="btn btn-default">Query</button>
                <button id="title-title" type="button" class="btn btn-default">Title</button>
            </div>
        </form>


        <div class="row">
            <!--<div class="col-md-4"><span>&nbsp;</span></div>-->
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" id="result-type">结果</div>
                <!--<div class="panel-body">-->
                    <!--<p>...</p>-->
                <!--</div>-->
                <!-- Table -->
                <table class="table">
                    <thead><tr><td class="col-md-1">#</td><td class="col-md-10">实体词</td></thead>
                    <tbody id="mention-list">
                        <tr><td><small>1</small></td><td><small>xxx</small>
                    </tbody>
                </table>
            </div>
        </div>

        <form class="row">
            <div class="form-group col-md-4">
                <input id="mid-input" class="form-control" placeholder="mid" required name=input-box>
                <!--<input type="text" placeholder="Search" class="form-control" autofocus="autofocus" required name=input-box>-->
            </div>

            <button type="button" class="btn btn-success">
                <span id="get-name-by-mid" class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <span>&nbsp;</span>

            <!--<div class="btn-group" role="group" aria-label="...">-->
                <!--<button id="query-query" type="button" class="btn btn-default">Query</button>-->
                <!--<button id="title-title" type="button" class="btn btn-default">Title</button>-->
            <!--</div>-->
        </form>
        <div class="row">
            <!--<div class="col-md-4"><span>&nbsp;</span></div>-->
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" id="mid-to-name-head">名字</div>
                <!--<div class="panel-body">-->
                    <!--<p>...</p>-->
                <!--</div>-->
                <!-- Table -->
                <table class="table">
                    <thead><tr><td class="col-md-1">#</td><td class="col-md-10">名字</td></thead>
                    <tbody id="mid-to-name-res-list">
                        <tr><td><small></small></td><td><small></small>
                    </tbody>
                </table>
            </div>
        </div>

        <form class="row">
            <div class="form-group col-md-4">
                <input id="surface-input" class="form-control" placeholder="surface" required name=input-box>
            </div>

            <button type="button" class="btn btn-success">
                <span id="get-mids-by-surface" class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <span>&nbsp;</span>

            <!--<div class="btn-group" role="group" aria-label="...">-->
                <!--<button id="query-query" type="button" class="btn btn-default">Query</button>-->
                <!--<button id="title-title" type="button" class="btn btn-default">Title</button>-->
            <!--</div>-->
        </form>
        <div class="row">
            <!--<div class="col-md-4"><span>&nbsp;</span></div>-->
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" id="surface-to-mids-head">候选实体</div>
                <!--<div class="panel-body">-->
                    <!--<p>...</p>-->
                <!--</div>-->
                <!-- Table -->
                <table class="table">
                    <thead><tr><td class="col-md-1">#</td><td class="col-md-10">候选实体</td></thead>
                    <tbody id="surface-to-mids-res-list">
                        <tr><td><small></small></td><td><small></small>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- /container -->
    {% block scripts %}
    <script type=text/javascript>
        $(function() {

            $('#get-mention').bind('click', function() {
                $.getJSON('/get_entity_mention', {
                    sentence: $('#question-input').val(),
                }, function(data) {
                    <!--$("#result-type").text('结果')-->
                    $("#mention-list > tr").remove();
                    $.each(data, function(i, val){
                        $line = '<tr><td class="col-md-1">'+i+'</td><td class="col-md-10">' + val + '</td><td class="col-md-1">';
                        $($line).appendTo('#mention-list');
                    });
                });
                return false;
            });

            $('#get-name-by-mid').bind('click', function() {
                $.getJSON('/mid_to_name', {
                    mid: $("#mid-input").val(),
                }, function(data) {

                    $("#mid-to-name-res-list > tr").remove();
                    $.each(data, function(i, val){
                        $line = '<tr><td class="col-md-1">'+i+'</td><td class="col-md-10">' + val + '</td><td class="col-md-1">';
                        $($line).appendTo('#mid-to-name-res-list');
                    });
                });
                return false;
            });

            $('#get-mids-by-surface').bind('click', function() {
                $.getJSON('/surface_to_mids', {
                    surface: $("#surface-input").val(),
                }, function(data) {

                    $("#surface-to-mids-res-list > tr").remove();
                    $.each(data, function(i, val){
                        $line = '<tr><td class="col-md-1">'+i+'</td><td class="col-md-10">' + val + '</td><td class="col-md-1">';
                        $($line).appendTo('#surface-to-mids-res-list');
                    });
                });
                return false;
            });
        });

    </script>
    {{super()}}
    {% endblock %}


{% endblock %}
